.content {
  padding: 20px 40px;
  border: 1px solid #80808061;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 100px;
}

.content img {
  max-width: 100%;
}

.navbar-container {
  margin-left: 50px;
  margin-right: 50px;
}

pre {
  background-color: rgb(246, 248, 250);
  padding: 10px;
}
