services:
  nginx:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    ports:
      - 80:80
    volumes:
      - static_volume:/app/backend/django_static
      - ./docker/nginx/development:/etc/nginx/conf.d
    depends_on:
      - backend
  backend:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    entrypoint: /app/docker/backend/wsgi-entrypoint.sh
    environment:
      - USE_SQLITE=1
    volumes:
      - static_volume:/app/backend/django_static
      - media_volume:/app/backend/media
      - backend_data:/app/backend/data
    expose:
      - 8000

volumes:
  static_volume: {}
  media_volume: {}
  backend_data: {}